@import "../fonts/Web3-Regular.css";

.glyphWrap {
	display: inline-block;
	text-align: center;
	padding: 0.5rem;
	width: 5rem;
}
.glyphWrap:hover {
	background-color: #F5F5F5;
	cursor: pointer;
}
.clipping {
	animation: clipping-flash 150ms 2;
}
@keyframes clipping-flash {
	50% {
		background-color: black;
		color: white;
	}
}
.clipNotification {
	position: fixed;
	bottom: 3rem;
	background-color: black;
	color: white;
	padding: 0.5rem 1rem;
}
.glyphItem {
	font-family: 'Web3-Regular';
}
.glyphWrap .glyphItem {
	font-size: 3rem;
}
